<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body lang="en">
<section id="main">
  <div>
      <h1 id="title">{{.Site.Title}}</h1>
    {{ range first 10 .Data.Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
</section>

<aside id="meta"> </aside>
</body>
</html>